numpy==1.19.1
Pillow==7.2.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0
tqdm==4.48.2
albumentations==0.4.6
